// Palette
$text-color: #333;
$text-color--muted: #aaa;
$brand-primary: #eb008d;
$brand-primary--active: #d2007e;
$brand-primary--muted: #ea57aa;
$brand-primary--contrast: #fff;
$brand-info: #0075eb;
$bg-color: #fff;
$bg-color--accent: #eee;
$border-color: #ccc;

// Type
$font-family-base: 'Roboto', 'Helvetica Neue', sans-serif;

// Form
$input-color: #444;
$input-color-placeholder: #ccc;
