@import '~reset-css';

html {
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #333;
}

.page-title {
  text-align: center;
  font-weight: 600;
  font-size: 1.2rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

.button {
  &:focus {
    outline: 0;
  }

  &--primary {
    background: #eb008d;
    color: #fff;
    padding: 16px 60px;
    border-radius: 30px;
    font-size: 1.2rem;
    font-weight: 400;
    transition: all .2s;

    &:hover:not(:disabled) {
      background: #d2007e;
      transition: all .2s;
    }

    &:disabled {
      cursor: not-allowed;
      background: #ea57aa;
    }
  }
}
