@import '~reset-css';

html {
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #333;
}

.page-title {
  text-align: center;
  font-weight: 600;
  font-size: 1.2rem;
  margin-top: 20px;
  margin-bottom: 20px;
}
